#ueberschrift {
  color: #f61313;
  text-align:center;
  font-size:5em;
  padding:0.4em 0.4em 0 0;
  font: bold 2em Arial, Helvetica, sans-serif;;
}

.box {

  border: 2px solid #000;

}

#textteil {
  color: #f61313;
  text-align:center;
  font-size:1.5em;
  padding:0.5em 0.7em 0 0;

}

* {
  margin:0;
  padding:0;
}



html, body {
  font: bold 1em "Times New Roman", Times, serif;
  background-color: #f4d815;
  font-weight: 900;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
}
