/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/** Size the combo-box drop down list. */


/** Size the combo-box button. */
.combo-box {
    -fx-pref-width: 435;
    -fx-min-width: 435;
    -fx-max-width: 435;
}

/** Size the combo-box drop down list. */
.combo-box-popup > .list-view {
    -fx-pref-width: 435;
    -fx-min-width: 435;
    -fx-max-width: 435;
}

#lblQuestion {
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-text-fill: #000000;
}

#lblAnswer {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-text-fill: #000000;
}

#lblIsThisRight {
	-fx-font-size: 15px;
}

#hbxCharacter {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
	-fx-padding: 5;
	-fx-background-color: #FFD90F;
	-fx-background-radius: 5;
}

#lblGameResult {
	-fx-font-size: 26px;
}

#lblNappy {
	-fx-font-size: 14px;
}

#lblPlayer {
	-fx-font-size: 14px;
}

#lblGuessedCharacter {
	-fx-font-size: 15px;
}

#lblGuessedCharacterNappy {
	-fx-font-size: 14px;
}

#lblGuessedCharacterPlayer {
	-fx-font-size: 14px;
}

#lblRightGuess {
	-fx-font-size: 16px;
}

#lblNoOfQuestions {
	-fx-font-size: 15px;
}

#lblNoOfQuestionsNappy {
	-fx-font-size: 16px;
}

#lblNoOfQuestionsPlayer {
	-fx-font-size: 16px;
}

#lblWhosWinner {
	-fx-font-size: 15px;
}

#lblWinner {
	-fx-font-size: 14px;
}

